body{
 margin:0;
 background:#000;
 color:white;
 font-family:Arial;
 overflow:hidden;
}
#sidebar{
 position:fixed;
 width:260px;
 height:100vh;
 background:#111;
 padding:20px;
 border-right:2px solid #222;
 overflow-y:auto;
}
#neonCanvas{
 position:fixed;
 left:260px;
 top:0;
 width:calc(100% - 260px);
 height:100vh;
}
.colors{
 display:grid;
 grid-template-columns:repeat(2,1fr);
 gap:6px;
}
